:root {
  font-size: 16px;
}

body {
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  width: auto;
  background-color: red;
  align-items: center;
  padding: 0rem 2rem;
}

ul {
  display: inline;
}

ul > li {
  display: inline;
  list-style: none;
  padding: 1rem;
}

footer {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  position: absolute;
  bottom: 0;
}

main {
  display: flex;
  justify-content: space-between;
}

.main-content {
  padding: 0rem 2rem;
}

aside {
  padding-top: 3rem;
  text-align: center;
  color: red;
  font-size: 2rem;
}